<div class="row">
    <div class="coll-md-3">
        <details>
            <summary>
                Get Anonimus Link
            </summary>
            <p style="border: 1px solid white;" id="link">&nbsp; &nbsp;
                <u>https://notenet.es/anonimus-msg/{{name}}</u> &nbsp; &nbsp; <button class="btn btn-info"
                    onclick="copy()">Copy link</button></p>
            Any person who enter in tihs link will able to put you an anonimus note.
        </details>
    </div>
</div>
<div class="row">
    <!-- cart add -->
    <div class="coll-md-3" id="carta" style="height: 162.58px; padding: 0 0 162.58px;">
        <div class="card">
            <div class="card-body">
                <a href="notes/add">
                    <button class="btn btn-outline-light btn-block-btn-xl" style="height: 120px; width: 120px;">
                        <div class="rounded-circle">
                            <i class="fa-solid fa-plus fa-2xl"></i>
                        </div>
                    </button>
                </a>
            </div>
        </div>
    </div>
    {{#each notes}}
    <div class="coll-md-3" id="carta">
        <div class="card">
            <div class="card-body">
                {{#if username}}<a href="/users/edit/{{user}}">{{username}}</a>{{/if}}
                <h4 class=" d-flex justify-content-between align-items-center">
                    {{title}}, {{anon}}
                    <u><a href="/notes/edit/{{_id}}" class="link-light"><i class="fa fa-pencil fa-xm"
                                id="img-pencil"></i></a></u>
                </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{#if users}}
<hr class="dropdown-divider">
<details>
    <summary class="btn btn-light" style="">Users</summary>
    {{#each users}}
    <div class="coll-md-3" id="carta" style="width: 50%;">
        <div class="card">
            <div class="card-body">
                <h4 class=" d-flex justify-content-between align-items-center">
                    {{name}}
                    <u>
                        <a href="/users/edit/{{_id}}" class="link-light">
                            <i class="fa fa-pencil" id="img-pencil"></i>
                        </a>
                    </u>
                </h4>
                <p>{{email}}</p>
                <form action="/users/dlt/{{_id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</details>
<hr class="dropdown-divider">
<details>
    <summary class="btn btn-light" style="">All Notes</summary>
    {{#each notesA}}
    <div class="coll-md-3" id="carta">
        <div class="card">
            <div class="card-body">
                {{#if username}}<a href="/users/edit/{{user}}">{{username}}</a>{{/if}}
                <h4 class=" d-flex justify-content-between align-items-center">
                    {{title }}
                    <u><a href="/notes/edit/{{_id}}" class="link-light"><i class="fa fa-pencil fa-xm"
                                id="img-pencil"></i></a></u>
                </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</details>
{{/if}}
<script>
    function copy() {
        var copyText = document.getElementById("link");
        navigator.clipboard.writeText(copyText.innerHTML);
        alert('Link copied to clipboard!')
    }
</script>